# Default values for ms-demo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

certificate:
  issuer: "letsencrypt-prod"
  kind: "ClusterIssuer"
  namespace: "istio-system"
  dnsNames:
  - "demo.kegnet.dev"

istio:
  port: 443
  istioSelector: "ingressgateway"

registry:
  url: "https://index.docker.io"
  imageBaseUrl: "docker.io/zkegli"
  username: anonymous
  password: anonymous

image:
  tag: "038cebf3586b91d75a8c8b6d2c84b0e24dae636f"
